* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border: 2px solid black;
}

tbody :nth-child(even) {
  background-color: rgb(148, 145, 145);
}

tr {
  display: flex;
  flex-direction: row;
}

.removeBtn {
  background: #fff !important;
  z-index: 10;
  margin: 5px;
  padding: 5px;
  box-shadow: 5px 10px;
}

td {
  font-size: 32px;
  width: 500px;
  line-height: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 2rem;
}

#add-book {
  margin-left: auto;
}
