* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 70%;
  margin: auto;
}

#date {
  margin-left: auto;
}

.navBar {
  display: flex;
  justify-content: space-between;
  flex: 0 0 100%;
  border : 1px solid rgb(133, 134, 133);
  padding: 1rem;
}

.navItems {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navItems > .navItem {
  border-right: 2px solid black ;
 padding-right: 20px;

}

#booksList {
  border: 2px solid black;
  margin: 5rem auto 5rem auto;
  padding: 1rem;
  
}

tbody :nth-child(even) {
  background-color: rgb(148, 145, 145);
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.removeBtn {
  background: #fff !important;
  z-index: 10;
  margin: 5px;
  padding: 5px;
  box-shadow: 5px 10px;
}

td {
  font-size: 32px;
  width: 500px;
  line-height: 1;
  margin-top: 5px;
}

#book-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  flex: 1 1 70%;
  width: 70%;
}

#title,
#author {
  flex: 1 1 100%;
  width: 70%;
  align-self: center;
}

#book-form h2 {
  flex: 0 0 100%;
  align-self: center;
}

#add-book {
  margin-left: auto;
  width: 10%;
  margin-right: 8.5rem;
}

#contact {
  margin: auto ;
}

#contact > ul > li {
  margin-left : 5rem;
}

footer > p {
  margin-top: 20px;
 text-align: center;
}


